@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


/* Force dialog modal center */
dialog[open] {
  position: fixed;
  inset: 0;
  margin: auto;
  padding: 0;
  border: none;
  background: transparent;
  z-index: 9999;
}

/* Backdrop blur + dark overlay */
dialog::backdrop {
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(6px);
}



:root {
  --color-primary: #d33;
  --color-secondary: #058e3d;
  --color-accent: #673ab7;
  --color-light-gray: #f1f1f1;
  --color-dark-gray: #333333;
}

/* Optional: dark mode */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --primary: #cb4e16; 
  --secondary: #1683cb; 
  --font-family: 'Inter', sans-serif; 
  --thirdry: linear-gradient(to right, #f864ba, #6dcdf3)
}
/* linear-gradient(to right, #f864ba, #6dcdf3); */

.some-class {
  background: #cb4e16
}

.another-class {
  background: linear-gradient(to bottom, #8f3569, #cb4e16);
}

.yet-another-class {
  background: linear-gradient(to left, #8f3569, #cb4e16);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.mobileNavlinkContainer {
  transition: all .5s ease;
}


/* styles/globals.css */

.heroContainer{
  width: 100%;
  /* height: 92vh; */
  background-image:
      /* linear-gradient(to bottom, #cb4f1639, #e8a0033e), */
      url('/heroimg3.webp');
  /* background-position: center; */
  /* background-position: center; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* background-color: #edf5f8; */
}

@layer utilities {
  .scrollBarContainer1::-webkit-scrollbar {
    display: none;
  }
}



.scrollBarContainer::-webkit-scrollbar {
  display: none;
}

.scroll-wrapper {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.scroll-content {
  display: flex;
  gap: 1rem;
  min-width: 100%;
}


.headingWithBackground {
  background-image: url('https://livexcellence.com/Assist/vithemes.webp');
  background-size: cover;
  background-position: center;  /* Centers the background image */
  padding: 20px;  /* You can adjust the padding */
  color: white;  /* Text color */
  border-radius: 8px;  /* Rounded corners, if needed */
}


.bottomBannerContainer{
  width: 100%;
  background-image:
      linear-gradient(to right, #1683cb87, #1683cb6a),
      url('https://livexcellence.com/Assist/bottombanner.webp');
  /* background-position: center; */
  /* background-position: center; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}